@font-face {
    font-family: 'FiraGO';
    src: url('FiraGO-Bold.eot');
    src: url('FiraGO-Bold.eot?#iefix') format('embedded-opentype'),
        url('FiraGO-Bold.woff2') format('woff2'),
        url('FiraGO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraGO';
    src: url('FiraGO-Regular.eot');
    src: url('FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraGO-Regular.woff2') format('woff2'),
        url('FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}